<div class="category-text-container">
    -C A T E G O R I A S-
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Casacas</mat-card-title>
      <mat-card-subtitle>Franela y algodon</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="category-card-content">
        Dale click en <p class="category-card-content-resalt">"Comprar ahora"</p> para ver el detalle de nuestros productos.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="category-button" color="primary">COMPRAR AHORA</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Poleras</mat-card-title>
      <mat-card-subtitle>Franela y algodon</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="category-card-content">
        Dale click en <p class="category-card-content-resalt">"Comprar ahora"</p> para ver el detalle de nuestros productos.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="category-button" color="primary">COMPRAR AHORA</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Polos</mat-card-title>
      <mat-card-subtitle>Algodon</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="category-card-content">
        Dale click en <p class="category-card-content-resalt">"Comprar ahora"</p> para ver el detalle de nuestros productos.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="category-button" color="primary">COMPRAR AHORA</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-4.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>Bividis</mat-card-title>
      <mat-card-subtitle>Algodon</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="category-card-content">
        Dale click en <p class="category-card-content-resalt">"Comprar ahora"</p> para ver el detalle de nuestros productos.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="category-button" color="primary">COMPRAR AHORA</button>
    </mat-card-actions>
  </mat-card>
</div>