<div class="category-text-container">
    Conoce nuestras categorías
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="category-card-content">
      <p>
        Casacas
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VER</button>
      <div class="category-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  class="category-card-content">
      <p>
        Poleras
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VER</button>
      <div class="category-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  class="category-card-content">
      <p>
        Polos
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VER</button>
      <div class="category-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-card">
    <img mat-card-image src="/assets/img/category/category-image-4.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  class="category-card-content">
      <p>
        Bividis
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VER</button>
      <div class="category-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>