<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">

  <mat-card class="information-card">
    <mat-card-header>
      <div mat-card-avatar class="information-header-sales"></div>
      <mat-card-title>¿Comprando por internet?</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sientete seguro, te enseñamos como hacerlo.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Más información</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="information-card">
    <mat-card-header>
      <div mat-card-avatar class="information-header-security"></div>
      <mat-card-title>Conoce nuestros TIPS de seguridad</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Revisa nuestros consejos.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Más información</button>
    </mat-card-actions>
  </mat-card>

</div>