<div class="miscellany-text-container">
#CROSSBOW
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    
       
      <figure><img class="miscellany-image" src="/assets/img/miscellany/miscellany-image-1.jpg" alt=""></figure>
         
        
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <figure><img class="miscellany-image" src="/assets/img/miscellany/miscellany-image-2.jpg" alt=""></figure>
    </div>
  </div>
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <figure><img class="miscellany-image-right" src="/assets/img/miscellany/miscellany-image-3.jpg" alt=""></figure>
  </div>
  </div>