<div class="services-text-container">
    Conoce nuestros servicios
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <mat-card class="services-card">
    <img mat-card-image src="/assets/img/services/services-image-1.jpg" alt="T-Shirt publicitario">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header> 
    <mat-card-content class="services-card-content">
      <p>
        T-Shirt Publicitarios
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">CONTRATAR</button>
      <div class="services-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="services-card">
    <img mat-card-image src="/assets/img/services/services-image-2.jpg" alt="Bolsos publicitarios">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="services-card-content">
      <p>
        Bolsos Publicitarios
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">CONTRATAR</button>
      <div class="services-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="services-card">
    <img mat-card-image src="/assets/img/services/services-image-3.jpg" alt="Delantales publicitarios">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="services-card-content">
      <p>
        Delantales Publicitarios
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" >CONTRATAR</button>
      <div class="services-button-spacer">
        <button mat-icon-button aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>